.profileTeacherContainer{
    display: flex;
    flex-direction: column;
}

.profileTeacherBox{
    width: 600px;
    height: 400px;
    margin: auto;
}
.profileTeacherEditBox{
    width: 1200px;
    height: 400px;
    margin: auto;
}
.profileTeacherDetailContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
}